@media only screen and (max-width:748px){


/* cover */
.cover{
    min-height: 108vh;        
    padding-top: 0.1px;
    justify-content: center;
    background: url(../images/bg_cover_res.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;}
    .cover .cover-title{
        width: 76%;
        margin-top: 45%;
        text-align: center;
        font-size: 22px;
        font-family: 'Poppins';
        font-weight: 700;
        line-height: 24px;
        color: #ffffff;
    }
    .cover .cover-title .darker{
        color:var(--secondary);
    }
    .cover .cpt{
        margin-top: 0px;
        color: #ffffff;
        width: 79%;
        font-size: 13px;
        font-family: 'Poppins';
        font-weight: 400;            
    }

    /* end of cover */

    /* tigaphone */
    #tigaphone{
        margin-top:-100px;}
        #tigaphone img{
            width:70%;
        }
    /* end of tigaphone */

    #map{
        margin-top: -9%;
        min-height:102vh;
        padding:12%;
        background-image: url('../images/map_mobile.png');
        background-size:100%;
        background-repeat: no-repeat;
    }
    #map .map-bg{

    }
    #map .finally{
        padding-top: 14%;
    }

    #map .finally h3{
        width: 90%;
        margin-left: 0%;
        margin-top: -5%;
        font-size: 27px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--secondary);
    }
    #map .finally p{
        width: 90%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        margin-left:0%;
        color: var(--secondary);
    }

    #map .landmark img{
        width: 95%;
        margin-top: 10%;
    }

    /* end of map */
    #increase{            
        min-height:86vh;
        margin-top:8vh;
        padding:12%;
    }
    #increase .increase-desc h3{
        width: 91%;        
        margin-top: -5%;
        font-size: 27px;
        font-family: 'Poppins';
        font-weight: 700;
        margin-left:0px;
        color: var(--secondary);
    }

    #increase .increase-desc p{
        width: 90%;
        margin-left:0px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;        
        color: var(--secondary);        
    }
    #increase img{
        width:100%;
    }
    /* end of increase */

    #iso .iso-bg{
        min-height: 33vh;
        background: url(../images/iso.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* end of iso */
#honey{
    min-height:60vh;
    padding:12%;
    margin-top:-42vh;}
    #honey .bottle img{
        width:64%;
    }

    #honey .desc h3{
        width: 92%;
        font-size: 26px;
        font-family: 'Poppins';
        font-weight: 700;
        margin-top: 21%;        
        color: var(--secondary);
        text-align:left;
    }

    #honey .desc p{
        width: 95%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: var(--secondary);
        /* margin-left: 5%; */        
    }
    /* end of honey */
#partner{
    min-height:60vh; 
    padding:12%;       
    }
    #partner .desc h3{
        width: 95%;        
        font-size: 26px;
        font-family: 'Poppins';
        font-weight: 700;
        margin-top: 5%;
        color: var(--secondary);
        text-align:left;
    }

    #partner .desc p{
        width: 95%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: var(--secondary);
    }
    #partner img{
        width:88%;
        padding:12%;
    }


    #wholesale {
        margin-top: -5%;
        min-height: 50vh;
        padding: 10%;
    }
    .desc h3 {
        width: 95%;
        font-size: 40px;
        font-family: 'Poppins';
        font-weight: 700;
        text-align:left;
        margin-top: 29px;
        color: var(--secondary);
    }
    .desc p {
        width: 95%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: var(--secondary);
        text-align: left;
    }

    #actionable {
        min-height: 50vh;
        padding: 10%;
    }

    #gain {
        min-height: 60vh;
        padding: 8%;
    }
    #company_concept {
        margin-top: -18%;
    }

    #company_concept img {
        width: 100%;
    }


    #map-cover {
        min-height: 95vh;
        background: url(../images/career_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 7%;
    }

    #map-cover p {
        width: 100%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: var(--secondary);
    }

    #map-cover h3 {
        font-size: 28px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--primary);
        margin-top: 71%;
        width: 100%;
    }

    #culture {
        margin-bottom: 5%;
        padding: 7%;
    }

    #culture .culture-title {
        font-size: 38px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--primary);
        margin-top: 6%;
        margin-bottom: 4%;
        width: 77%;
    }

    #apply {
        margin-top: 1%;
        margin-bottom: 5%;
        padding: 7%;
    }

    #apply .card-apply .apply-icon img {
        width: 27%;
        margin-bottom: 21px;
    }

    #apply .card-apply .apply-icon {
        text-align: left;
    }

    #contact {
        min-height: 92vh;
        padding-top: 0.1px;
        justify-content: center;
        background: url(../images/bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #contact-category {
        margin-top: -31%;
    }

    #contact-category .contact-card-area {
        padding-left: 11%;
        padding-right: 3%;
    }

    #contact-category .contact-card {
        padding: 41px 26px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 31px 41px rgb(0 0 0 / 20%);
        margin-bottom: 21px;
    }

    #faq-title .input-group {
        width: 80%;
        border: 0px;
        margin-bottom: 11%;
    }

    #faq-content .accordion-header button {
        color: var(--secondary);
        border: 0px;
        background-color: white;
        font-size: 25px;
        font-weight: 700;
        box-shadow: none;
    }

    #faq-content .card-faq-content {
        padding: 16px;
        min-height: 50vh;
        background-color: white;
        margin-top: -29%;
        border-radius: 10px;
    }
    #press-cover .press-kit-title {
        font-size: 43px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--secondary);
        margin-top: 72%;
    }

    .presskit-card {
        padding: 5px;
        margin-bottom: 47px;
    }

    .presskit-card .btn-rounded {
        padding: 11px 27px;
        font-size: 9px;
        color: #fff;
        border-radius: 46px;
        background-color: var(--oranye);
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 700;
        border: 0px;
        margin-bottom: 9px;
    }

    .presskit-card .transparent {
        background-color: transparent;
        color: var(--secondary);
        border: 1px solid  var(--secondary);

    }

}


@media only screen and (min-height:812px){
    #tigaphone{
        margin-top:-40%;}
    .cover{
        min-height: 90vh;      
        padding-top: 0.1px;
        justify-content: center;
        background: url(../images/bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;}
        .cover .cover-title {
            width: 77%;
            margin-top: 57%;
            text-align: center;
            font-size: 22px;
            font-family: 'Poppins';
            font-weight: 700;
            line-height: 24px;
            color: #ffffff;
        }
    
    #contact {
        min-height: 68vh;
        padding-top: 0.1px;
        justify-content: center;
        background: url(../images/bg.png);
        background-size: 100% 100%;
        /* background-repeat: no-repeat; */
    }

    #company_concept {
        margin-top: -31%;
    }


    .footer .logo img{
        margin-bottom:47px;
    }

    #map-cover {
        min-height: 73vh;
        background: url(../images/career_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 7%;
    }

    #map-cover h3 {
        font-size: 28px;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--primary);
        margin-top: 49%;
        width: 100%;
    }

    #pripol-content {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: -58%;
        margin-bottom: 10%;
    }
}