/* import font */
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Extrabold.otf');
}
@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.otf');
}
:root
{

    --primary : #76B4EA;     
    --secondary : #044271;
    --oranye : #F07642;
}

.container-fluid{
    overflow-x: hidden;
}

.darken-p{color:var(--primary) ;}
.darken-s{color:var(--secondary) ;}
.btn-rounded{
    padding: 15px 41px;
    font-size: 16px;
    color: #fff;
    border-radius: 46px;
    background-color: var(--oranye);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 700;
}

.learn-more a{
    font-size:20px;
    color:var(--oranye);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight:600;
}

.quotes{
    min-height:50vh;
}
.quotes .box{
    padding:0px 50px 0px 50px;
}
.quotes .box .box-item{
    min-height:50vh;
    border-radius:20px 20px 0px 0px;
    background-color:var(--primary);
    padding: 100px 34px;
}

.quotes .box .box-item h3{
    width: 95%;                        
    font-size: 49px;
    font-family: 'Poppins';
    font-weight: 700;    
    color: #fff;   
}

.quotes .box .box-item p{
    width: 60%;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;                      
    color: #ffffff;
}
.quotes .box .box-item .right-dots{
    width: 150px;
    float: right;
    margin-top: -140px;
    margin-right: -86px;
}
.quotes .box .box-item .left-dots{
    width: 150px;    
    float:left;
    margin-left: -86px;
}

.footer{    
    min-height:40vh;
    padding-left:100px;
    padding-right:100px;
    margin-top:8%;
}
.footer .lines{
    margin-top:5%;
    height:1px;
    width:80%;
    background-color:#A3A3A3;
}
.footer .cpy{
    font-family: 'Poppins';
    font-weight:400;
    color:rgb(55, 55, 55);
    font-size:14px;
    margin-top:30px;
}
.footer .whowe .title{
    font-family:'Poppins';
    font-size:20px;
    color: var(--oranye);
    font-weight:600;
}
.footer .whowe .val{
    width:80%;
    font-family: 'Poppins';
    font-weight:400;
    color:rgb(55, 55, 55);
    font-size:14px;
}

.footer .list .title{
    font-family:'Poppins';
    font-size:20px;
    color: var(--oranye);
    font-weight:600;
}
.footer .list ul{
    list-style:none;
    padding:0px;
}
.footer .list ul li a{
    font-family: 'Poppins';
    font-weight:400;
    color:rgb(55, 55, 55);
    font-size:14px;
    text-decoration: none;    
}
.footer .dots img{
    float:right;
    margin-right:-20px;
}

.footer .logo img{
    width:40%;
}

.footer .logo select{
    font-family:'Poppins';
    color:black;
    background-color: #A3A3A3;
    border-radius:20px;
    padding:10px 20px;
    border:0px;
    font-weight:700;    
}
.footer .logo a{
    font-family:'Poppins';
    color: var(--oranye);
    font-weight:600;
    font-size:15px;
    text-decoration:none;
}

@media(max-width:748px){
    .learn-more a{
        font-size:16px;
    }
    .quotes{
        min-height:30vh;
    }
    .quotes .box{
        padding:0px 50px 0px 50px;
    }

    .quotes .box .box-item{
        min-height:30vh;
        border-radius:10px 10px 0px 0px;
        background-color:var(--primary);
        padding: 50px 34px;
    }
    
    .quotes .box .box-item h3{
        width: 100%;                        
        font-size: 26px;
        font-family: 'Poppins';
        font-weight: 700;    
        color: #fff;   
    }
    
    .quotes .box .box-item p{
        width: 100%;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;                      
        color: #ffffff;
    }    
    .footer{    
        min-height:40vh;
        padding-left:50px;
        padding-right:20px;
        margin-top:8%;
    }
    .footer .lines{
        margin-top:5%;
        height:1px;
        width:80%;
        background-color:#A3A3A3;
    }
    .footer .cpy{
        font-family: 'Poppins';
        font-weight:400;
        color:rgb(55, 55, 55);
        font-size:14px;
        margin-top:30px;
    }
    .footer .whowe .title{
        font-family:'Poppins';
        font-size:20px;
        color: var(--oranye);
        font-weight:600;
    }
    .footer .whowe .val{
        width:100%;
        font-family: 'Poppins';
        font-weight:400;
        color:rgb(55, 55, 55);
        font-size:14px;
    }
    
    .footer .list .title{
        font-family:'Poppins';
        font-size:20px;
        color: var(--oranye);
        font-weight:600;
    }
    .footer .list ul{
        list-style:none;
        padding:0px;
    }
    .footer .list ul li a{
        font-family: 'Poppins';
        font-weight:400;
        color:rgb(55, 55, 55);
        font-size:14px;
        text-decoration: none;    
    }
    .footer .dots img{
        display: none;
        float:right;
        margin-right:-20px;
    }
    
    .footer .logo img{
        width:50%;
    }
    
    .footer .logo select{
        font-family:'Poppins';
        color:black;
        background-color: #A3A3A3;
        border-radius:20px;
        padding:10px 20px;
        border:0px;
        font-weight:700;    
    }
    .footer .logo a{
        font-family:'Poppins';
        color: var(--oranye);
        font-weight:600;
        font-size:15px;
        text-decoration:none;
    }
}