/* import font */
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Extrabold.otf');
}
@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.otf');
}
:root
{

    --primary : #76B4EA;     
    --secondary : #044271;
}

        /* tigaphone */
        #tigaphone{
            margin-top:-27%;}
            #tigaphone img{
                width:70%;
            }
        /* end of tigaphone */

        #map{
            margin-top: -9%;
            min-height:102vh;
        }
        #map .map-bg{
            background-image: url('../images/map.png');
            background-size:cover;
            background-repeat: no-repeat;
        }
        #map .finally{
            padding-top: 14%;
        }

        #map .finally h3{
            width: 83%;
            margin-left:-15%;
            margin-top:10%;
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--secondary);
        }
        #map .finally p{
            width: 83%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;
            margin-left:-15%;
            color: #767676;
        }

        #map .landmark img{
            width: 95%;
            margin-top: 10%;
        }

        /* end of map */
        #increase{            
            min-height:86vh;
            margin-top:8vh;
        }
        #increase .increase-desc h3{
            width: 83%;            
            margin-left:24%;
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--secondary);
        }

        #increase .increase-desc p{
            width: 83%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;
            margin-left:24%;
            color: #767676;
        }
        #increase img{
            width:100%;
        }
        /* end of increase */

    #iso{
        min-height:50vh;}
        #iso .iso-bg{
            min-height: 67vh;
            background: url(../images/iso.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        /* end of iso */
    #honey{
        min-height:60vh;
        margin-top:-42vh;}
        #honey .bottle img{
            width:80%;
        }

        #honey .desc h3{
            width: 95%;                        
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            margin-top:58%;  
            color: var(--secondary);
        }

        #honey .desc p{
            width: 95%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;                      
            color: #767676;
        }
        /* end of honey */
    #partner{
        min-height:60vh;        
        }
        #partner .desc h3{
            width: 95%;                        
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            margin-top:20%;  
            color: var(--secondary);
        }

        #partner .desc p{
            width: 95%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;                      
            color: #767676;
        }
        
        #partner img{
            width:90%;
        }



    /* company pages */
    #company_concept{        
        margin-top: -29%;}
        #company_concept img{
            width:100%;
        }
    
    #wholesale{
        margin-top:-5%;
        min-height:50vh;}
        #wholesale .wholesale-icon img{
            width:30%;
        }
    #actionable{        
        min-height:50vh;}
        #actionable .actionable-icon img{
            width:30%;
        }
    #gain{        
        min-height:60vh;}
        #gain .gain-icon img{
            width:30%;
        }    

    /* end of company */

    /* career pages */
    #map-cover{
        min-height:100vh;
        background:url('../images/career_bg.png');
        background-size:100%;
        background-repeat:no-repeat;}

        #map-cover h3{
            font-size: 61px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--primary);
            margin-top: 15%;
            width: 77%;
        }
        
        #map-cover p{
            width: 50%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;                      
            color: #767676;
        }
    
        #career-quotes .box{
            padding:0px;}            
            #career-quotes .box .box-item{
                margin-top:5%;
                padding: 85px 45px;
                border-radius:20px;
            }
            #career-quotes .box .box-item a{
                text-decoration:none;
            }
            #career-quotes .box .box-item a i{
                font-size: 30px;
                color:var(--oranye);
            }
            #career-quotes .box .box-item p{                
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 15px;                      
                color: white;
                width:95%;
            }
            
        #culture{
            margin-bottom:5%;}
            #culture .culture-icon img{
            width:69px;
            }
            #culture .culture-icon h4{
                font-size: 31px;
                font-family: 'Poppins';
                font-weight: 700;
                color: var(--secondary);
                margin-top: 13px;                
                width: 77%;
            } 
            #culture .culture-icon p{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 15px;                                  
                color: var(--mygrey);            
            } 

            #culture .culture-title{
                font-size: 61px;
                font-family: 'Poppins';
                font-weight: 700;
                color: var(--primary);
                margin-top: 6%;
                margin-bottom:4%;
                width: 77%;
            }          
           
        #apply{
            margin-top:1%;
            margin-bottom:5%;}
            #apply .apply-title{
                margin-top:3%;
            }
            #apply .apply-title h3{ 
                font-size:40px;
                font-family: 'Poppins';
                font-weight: 700;
                color: var(--primary);
            }
            #apply .apply-title p{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 17px;                                  
                color: var(--mygrey);     
            }

            #apply .card-apply{
                margin: 22px 2px 2px 2px;
                background-color:#E7E7EB;
                border-radius:10px;
                padding: 35px 20px;}
                #apply .card-apply .apply-icon{
                    text-align: center;
                }
                #apply .card-apply .apply-icon img{
                    width:80%;
                }
                #apply .card-apply h4{                     
                    font-size:20px;
                    font-family: 'Poppins';
                    font-weight: 700;
                    color: var(--secondary);
                }
                #apply .card-apply p{                     
                    font-size:13px;
                    font-family: 'Poppins';
                    font-weight: 400;
                    color: var(--mygrey);
                }

    /* end of career */


    /* page contact */
    #contact-category{
        margin-top:-17%;}
        #contact-category .contact-card-area{
            padding-left: 3%;
            padding-right: 3%;
        }
        #contact-category .contact-card{
            padding: 41px 26px;
            background-color: white;
            border-radius: 20px;            
            box-shadow: 0px 31px 41px rgb(0 0 0 / 20%);
        }
        #contact-category .contact-card img{
            margin-bottom:20px;
        }
        #contact-category .contact-card h4{
            font-size:20px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--secondary);
        }
        #contact-category .contact-card p{
            font-size:13px;
            font-family: 'Poppins';
            font-weight: 400;
            color: var(--mygrey);
        }        
        #contact-category .contact-card a{
            text-decoration:none;
            font-size:13px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--oranye);
        }
    /* end of page contact */
