/* import font */
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Extrabold.otf');
}
@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.otf');
}
:root
{

    --primary : #76B4EA;     
    --secondary : #044271;
}

        /* tigaphone */
        #tigaphone{
            position: relative;
            margin-top: -26%;}
            #tigaphone img{
                width:59%;
            }
        /* end of tigaphone */

        #map{
            margin-top: -9%;
            min-height:102vh;
        }
        #map .map-bg{
            background-image: url('../images/map.png');
            background-size:cover;
            background-repeat: no-repeat;
        }
        #map .finally{
            padding-top: 14%;
        }

        #map .finally h3{
            width: 83%;
            margin-left:-15%;
            margin-top:10%;
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--secondary);
        }
        #map .finally p{
            width: 83%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;
            margin-left:-15%;
            color: #767676;
        }

        #map .landmark img{
            width: 95%;
            margin-top: 10%;
        }

        /* end of map */
        #increase{            
            min-height:86vh;
            margin-top:8vh;
        }
        #increase .increase-desc h3{
            width: 83%;            
            margin-left:24%;
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--secondary);
        }

        #increase .increase-desc p{
            width: 83%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;
            margin-left:24%;
            color: #767676;
        }
        #increase img{
            width:100%;
        }
        /* end of increase */

    #iso{
        min-height:50vh;}
        #iso .iso-bg{
            min-height: 67vh;
            background: url(../images/iso.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        /* end of iso */
    #honey{
        min-height:60vh;
        margin-top:-42vh;}
        #honey .bottle img{
            width:80%;
        }

        #honey .desc h3{
            width: 95%;                        
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            margin-top:58%;  
            color: var(--secondary);
        }

        #honey .desc p{
            width: 95%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;                      
            color: #767676;
        }
        /* end of honey */
    #partner{
        min-height:60vh;        
        }
        #partner .desc h3{
            width: 95%;                        
            font-size: 49px;
            font-family: 'Poppins';
            font-weight: 700;
            margin-top:20%;  
            color: var(--secondary);
        }

        #partner .desc p{
            width: 95%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;                      
            color: #767676;
        }
        
        #partner img{
            width:90%;
        }



    /* company pages */
    #company_concept{        
        margin-top: -25%;}
        #company_concept img{
            width:76%;
        }
    
    #wholesale{
        margin-top:-5%;
        min-height:50vh;}
        #wholesale .wholesale-icon img{
            width:30%;
        }
    #actionable{        
        min-height:50vh;}
        #actionable .actionable-icon img{
            width:30%;
        }
    #gain{        
        min-height:60vh;}
        #gain .gain-icon img{
            width:30%;
        }    

    /* end of company */

    /* career pages */
    #map-cover{
        min-height:100vh;
        background:url('../images/career_bg.png');
        background-size:100%;
        background-repeat:no-repeat;}

        #map-cover h3{
            font-size: 61px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--primary);
            margin-top: 15%;
            width: 77%;
        }
        
        #map-cover p{
            width: 50%;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;                      
            color: #767676;
        }
    
        #career-quotes .box{
            padding:0px;}            
            #career-quotes .box .box-item{
                margin-top:5%;
                padding: 85px 45px;
                border-radius:20px;
            }
            #career-quotes .box .box-item a{
                text-decoration:none;
            }
            #career-quotes .box .box-item a i{
                font-size: 30px;
                color:var(--oranye);
            }
            #career-quotes .box .box-item p{                
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 15px;                      
                color: white;
                width:95%;
            }
            
        #culture{
            margin-bottom:5%;}
            #culture .culture-icon img{
            width:69px;
            }
            #culture .culture-icon h4{
                font-size: 31px;
                font-family: 'Poppins';
                font-weight: 700;
                color: var(--secondary);
                margin-top: 13px;                
                width: 77%;
            } 
            #culture .culture-icon p{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 15px;                                  
                color: var(--mygrey);            
            } 

            #culture .culture-title{
                font-size: 61px;
                font-family: 'Poppins';
                font-weight: 700;
                color: var(--primary);
                margin-top: 6%;
                margin-bottom:4%;
                width: 77%;
            }          
           
        #apply{
            margin-top:1%;
            margin-bottom:5%;}
            #apply .apply-title{
                margin-top:3%;
            }
            #apply .apply-title h3{ 
                font-size:40px;
                font-family: 'Poppins';
                font-weight: 700;
                color: var(--primary);
            }
            #apply .apply-title p{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 17px;                                  
                color: var(--mygrey);     
            }

            #apply .card-apply{
                margin: 22px 2px 2px 2px;
                background-color:#E7E7EB;
                border-radius:10px;
                padding: 35px 20px;}
                #apply .card-apply .apply-icon{
                    text-align: center;
                }
                #apply .card-apply .apply-icon img{
                    width:80%;
                }
                #apply .card-apply h4{                     
                    font-size:20px;
                    font-family: 'Poppins';
                    font-weight: 700;
                    color: var(--secondary);
                }
                #apply .card-apply p{                     
                    font-size:13px;
                    font-family: 'Poppins';
                    font-weight: 400;
                    color: var(--mygrey);
                }

    /* end of career */


    /* page contact */
    #contact-category{
        margin-top:-20%;}
        #contact-category .contact-card-area{
            padding-left: 3%;
            padding-right: 3%;
        }
        #contact-category .contact-card{
            padding: 41px 26px;
            background-color: white;
            border-radius: 20px;            
            box-shadow: 0px 31px 41px rgb(0 0 0 / 20%);
        }
        #contact-category .contact-card img{
            margin-bottom:20px;
        }
        #contact-category .contact-card h4{
            font-size:20px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--secondary);
        }
        #contact-category .contact-card p{
            font-size:13px;
            font-family: 'Poppins';
            font-weight: 400;
            color: var(--mygrey);
        }        
        #contact-category .contact-card a{
            text-decoration:none;
            font-size:13px;
            font-family: 'Poppins';
            font-weight: 700;
            color: var(--oranye);
        }
    #form-contacts{
        min-height:50vh;
        margin-top:4%;
        margin-bottom:7%;}
        #form-contacts .form-contacts-area{
            padding-left: 6%;
            padding-right: 6%;
        } 
        #form-contacts .form-contacts-area .form-contacts-box{
            padding:37px;
            background-color: #FCFCFC;
            border:1px solid #CECFD5;
            border-radius:10px;
        }
        #form-contacts .form-contacts-area .form-contacts-box h3{
            font-size:37px;
            color: var(--primary);
            font-family: 'Poppins';
            font-weight:700;
        }
        #form-contacts .form-contacts-area .form-contacts-box p{
            font-size:13px;
            font-family: 'Poppins';
            font-weight: 400;
            color: var(--mygrey);
        }        
        #form-contacts .form-contacts-area .form-contacts-box label{
            font-size:13px;
            font-family: 'Poppins';
            font-weight: 400;
            color: var(--mygrey);
        }
        #form-contacts .form-contacts-area .form-contacts-box input{
            border-radius:10px;
        }

        #form-contacts .form-contacts-area .form-contacts-box input::placeholder{
            color: rgba(0, 0, 0, 0.3);
        }
    /* end of page contact */

    /* page faq */
    #faq-title .input-group{
        width:20%;        
        border:0px;
        margin-bottom:5%;
    }

    #faq-title .input-group .input-group-append button{
        border: 0px;
        background-color: white;
        color: #000;
        padding: 8px 16px; 
    }

    #faq-content{
        padding-left:6%;
        padding-right:6%;        
    }
    #faq-content .card-faq-content{
        padding:53px;
        min-height:50vh;
        background-color: white;
        margin-top:-29%;
        border-radius:10px;
    }
    #faq-content .accordion-header button{
        color:var(--secondary);
        border:0px;
        background-color: white;
        font-size:32px;
        font-weight:700;
        box-shadow:none;
    }
    #faq-content .accordion-item{
        border:0px;
    }
    #faq-content .accordion-body{
        color:#54576D; 
    }
    /* end of page faq */
     
    /* page press kit */
    #press-cover{
        min-height:50vh;
        padding-top:0.1px;
        padding-left:10%;
        padding-right:10%;
    } 
    #press-cover .press-kit-title{
        font-size:54px;
        font-family: 'Poppins';
        font-weight:700;
        color: var(--secondary);
        margin-top:15%;
    }

    .presskit-component{
        min-height:50vh;
        padding-top:0.1px;
        padding-left:10%;
        padding-right:10%;
        margin-top:4%
    }

    .presskit-component h4{
        font-size:20px;
        font-family: 'Poppins';
        font-weight:700;
        color: var(--secondary);        
    }
    .presskit-card{
        padding:5px;
    }
    .presskit-card img{
        width:100%;
        margin-bottom:20px;        
    }
    .presskit-card-sm-title{
        font-family: 'Poppins';
        font-weight:700;
        font-size:20px;
        color:var(--secondary);
    }

    .presskit-card-lg-title{
        font-family: 'Poppins';
        font-weight:700;
        font-size:27px;
        color:var(--secondary);
    }    
    .presskit-card .btn-rounded{
        padding: 13px 27px;
        font-size: 13px;
        color: #fff;
        border-radius: 46px;
        background-color: var(--oranye);
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 700;
        border: 0px;
    }

    .presskit-card .transparent{
        background-color: transparent;
        color: var(--secondary);
        border: 1px solid  var(--secondary);
    }
     /* end of page press kit */


     /* privacy policy */
     
     #pripol-content{
         padding-left:10%;
         padding-right:10%;
         margin-top:-28%;
         margin-bottom: 10%;
     }
     #pripol-content .pripol-card{
         background-color:white;
         padding:  53px;
         border-radius:20px;
         box-shadow: 0px 31px 41px rgb(0 0 0 / 20%);
     }

     #pripol-content .pripol-card h4{
        color:var(--secondary);
        font-size:32px;
        font-weight:700;        
     }

     #pripol-content .pripol-card p{
        font-size:13px;
        color:#54576D; 
     }
     #pripol-content .pripol-card ul li{
        font-size:13px;
        color:#54576D; 
     }
     /* end of privay policy */